/.idea/
/Spring_Hibernate_web/target/
/Spring_Hibernate_web/.mvn/
/Hibernate/target/
/Hibernate/.mvn/
/Spring/target/
/Spring/.mvn/
/Spring-MVC/target/
/Spring-MVC/.mvn/
/Spring-REST-POJO/target/
/Spring-REST-POJO/.mvn/
/Spring-security/target/
/Spring-security/.mvn/
/Authorization_books/HELP.md
/Authorization_books/target/
/Authorization_books/!.mvn/wrapper/maven-wrapper.jar
/Authorization_books/!**/src/main/**/target/
/Authorization_books/!**/src/test/**/target/
/Authorization_books/### STS ###
/Authorization_books/.apt_generated
/Authorization_books/.classpath
/Authorization_books/.factorypath
/Authorization_books/.project
/Authorization_books/.settings
/Authorization_books/.springBeans
/Authorization_books/.sts4-cache

/Authorization_books/.idea
/Authorization_books/*.iws
/Authorization_books/*.iml
/Authorization_books/*.ipr

/Authorization_books/nbproject/private/
/Authorization_books/nbbuild/
/Authorization_books/dist/
/Authorization_books/nbdist/
/Authorization_books/.nb-gradle/
/Authorization_booksbuild/
/Authorization_books!**/src/main/**/build/
/Authorization_books!**/src/test/**/build/

/Authorization_books.vscode/
/Authorization_books/.mvn/