/.idea/
/Spring_Hibernate_web/target/
/Spring_Hibernate_web/.mvn/
/Hibernate/target/
/Hibernate/.mvn/
/Spring/target/
/Spring/.mvn/
/Spring-MVC/target/
/Spring-MVC/.mvn/
/Spring-REST-POJO/target/
/Spring-REST-POJO/.mvn/
/Spring-security/target/
/Spring-security/.mvn/
/authors-ws/target/
/authors-ws/.mvn/
/users-ws/target/
/users-ws/.mvn/
/books-ws/HELP.md
/books-ws/target/
/books-ws/!.mvn/wrapper/maven-wrapper.jar
/books-ws/!**/src/main/**/target/
/books-ws/!**/src/test/**/target/
/books-ws/### STS ###
/books-ws/.apt_generated
/books-ws/.classpath
/books-ws/.factorypath
/books-ws/.project
/books-ws/.settings
/books-ws/.springBeans
/books-ws/.sts4-cache

/books-ws/.idea
/books-ws/*.iws
/books-ws/*.iml
/books-ws/*.ipr

/books-ws/nbproject/private/
/books-ws/nbbuild/
/books-ws/dist/
/books-ws/nbdist/
/books-ws/.nb-gradle/
/books-wsbuild/
/books-ws!**/src/main/**/build/
/books-ws!**/src/test/**/build/

/books-ws.vscode/
/books-ws/.mvn/